html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

th {
    font-weight: bold;
}

.nav-item:hover{
    font-weight:bold;
   background-color:#efefefff;
}
.navbar-brand:hover {
    font-weight: bold;
}

.list-group-item{
    background-color:whitesmoke;
}
.list-group-item:hover {
    cursor: pointer;
    background-color:lightgray;
}

.carousel .carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}

.carousel-caption{
   
}