@model Tarefa
<div class="mx-auto w-50">
        <input asp-for="TarefaId" type="hidden" />
        <div class="mb-3">
            <label asp-for="Titulo" class="form-label"></label>
            <input asp-for="Titulo" class="form-control" required />
        </div>
        <div class="mb-3">
            <label asp-for="Descricao" class="form-label"></label>
            <textarea asp-for="Descricao" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Equipe</label>
            <Select Name="equipeSelecionada" class="form-select" required>
                @{
                    if (Model?.Equipe.Nome == null)
                    {
                        <option value="">Selecionar equipe...</option>
                    }
                    else
                    {
                        <option value="@Model.EquipeId">@Model.Equipe.Nome</option>
                    }

                    foreach (Equipe equipe in ViewBag.ListaEquipes)
                    {
                        <option value="@equipe.EquipeId">@equipe.Nome</option>
                    }
                }
            </Select>
        </div>
        <div class="mb-4">
            <label asp-for="DataLimite" class="form-label"></label>
            <input asp-for="DataLimite" class="form-control" required />
        </div>
        <div>
            <confirmar></confirmar>
        </div>
</div>
