@model Tarefa
@{
    ViewData["title"] = "Editar Tarefa";
}

<h1>Editar Tarefa</h1>

<div class="mx-auto w-50">
    <form asp-action="Editar">
        <input type="hidden" value="@Model.TarefaId" />
        <div class="mb-3">
            <label asp-for="Titulo" class="form-label"></label>
            <input asp-for="Titulo" class="form-control" required />
        </div>
        <div class="mb-3">
            <label asp-for="Descricao" class="form-label"></label>
            <textarea asp-for="Descricao" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Equipe</label>
            <Select Name="equipeSelecionada" class="form-select" required>
                <option>@Model.Equipe.Nome</option>
                @foreach (Equipe equipe in ViewBag.ListaEquipes)
                {
                    <option value="@equipe.EquipeId">@equipe.Nome</option>
                }
            </Select>
        </div>
        <div class="mb-4">
            <label asp-for="DataLimite" class="form-label"></label>
            <input asp-for="DataLimite" class="form-control" required/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
